{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
 
{% block app_content %}
<h2>Книги которые вы читаете:</h2> <br>
    <table class="table table-hover">
        {% if books %}
        {% for book in books %}
        <tr>
            <td>
                <a href="{{ url_for('book', id=book.id) }}"><button type="button" class="btn btn-outline-primary me-2">{{book.name }}</button></a> <br><br>
                <a href="{{ url_for('book_chapters', book_id=book.id) }}"><button type="button" class="btn btn-outline-primary me-2">Список глав</button></a>
            </td>
        </tr>
        {% endfor %}
        {%else%}
    <h2> Вы не читали книг 😭</h2>
    {% endif %}
{% endblock %}