{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content%}
<tr>
    <td>
        {% if  current_user.is_anonymous or current_user.role == "auth" %}
        <a href="{{ url_for('book_chapters', book_id=chapter.book_id) }}"><button type="button" class="btn btn-outline-primary me-2">Список глав</button></a><br>
        <h1>Глава номер - {{ chapter.num_ch }}</h1><br>
            {% for content in contents %}
                <p class="content">{{ content }}</p>
            {% endfor %}
        {% else %}
        <a href="{{ url_for('book_chapters', book_id=chapter.book_id) }}"><button type="button" class="btn btn-outline-primary me-2">Список глав</button></a>
        <br><br>
        <a href="{{ url_for('add_bookmark', chapter_id=chapter.id)}}"><button type="button" class="btn btn-outline-primary me-2">Создать закладку</button></a>
        <br><br>
        <h1>Глава номер - {{ chapter.num_ch }}</h1><br>
            {% for content in contents %}
                <p class="content">{{ content }}</p>
            {% endfor %}
        <a href="{{ url_for('add_bookmark', chapter_id=chapter.id)}}"><button type="button" class="btn btn-outline-primary me-2">Создать закладку</button></a>
        {% endif %}
    </td>
</tr>
{% endblock %}